@import "tailwindcss";

@font-face {
    font-family: "JuliaMono-Bold";
    src: url("/JuliaMono-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

.font-jmb {
    font-family: "JuliaMono-Bold", monospace;
}
